html{
    height: 100%;
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 8.84rem;
}
.bg-light{
    background-color: #B63E52!important;
}
.nav-link{
    color: white;
    font-weight: bolder;;
}

.div-shoes{
    display:flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 50px;
}

.card-img-top{
    height: 420px;
}

footer{
    height: 150px;
    background-color: #B63E52;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 15px;
}

.link-logar{
    color: white;
    text-decoration: none;
}


.cadastroVendedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-product{
    height: 300px;
    width: 200px;
}

.img-product{
    height: 450px;
    width: 300px;
}

.banner{
    width: 100%;
}

.p-about{
    width: 30%;
    margin-left: 15px;
}

.div-about{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.h1-about{
    text-indent: 0;
}

.a-sobreNos{
    color: white;
    text-decoration: none;;
}
.card-text{
    text-decoration: none;
}
.body-shoe {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 15px;
}
.admin-tablethead th{
    background-color: #383838;
    color: white;
}
.admin-table tbody tr:hover td{
    background-color: gray;
    cursor: pointer;
}
.admin-table tbody tr:nth-child(even){
    background-color: #F4A4BF;
}
.admin-table, .myStore-tb{
    margin: 0 auto;
    min-width: 750px;
    text-align: center;
    border: solid 1px black;
}
.total-users{
    background-color: #D9A69C;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    width: 10rem;
    padding: 5px;
}
.body-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.items-products{
    display: flex;
    justify-content: space-evenly;
}
.welcome{
    color: white;
    font-weight: bolder;
    margin-right: 15px;
}
.text-carrinho{
    text-indent: 0;
}
textarea{
    max-height: 300px;
}
.div-faturamento{
    display: flex;
    margin-bottom: 50px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}
.total-faturado{
    background-color: rgba(255, 88, 88, 0.64);
    border: solid 1px black;
    height: fit-content;
    border-radius: 15px;
    width: 225px;
    margin-bottom: 15px;
    text-align: center;
}

#myItems{
    margin-bottom: 50px;
}
.myStore-a{
    text-decoration: none!important; 
    color: black;
}

.add_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#btns-add {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 1rem;
}
.txt-carrinho {
    display: flex;
    flex-direction: column;
}
.body-carrinho{
    margin-top: 15px;
}
.btn-save-myprofile{
    display: flex;
    justify-content: center;
    margin: 15px;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    font-size: 16px;
}
 
input[type="checkbox"] + label:before {
    content: "\2764";
    top: -11px;
    left: -8px;
    border: 1px solid transparent;    
    padding: 10px;
    border-radius: 3px;
    display: block;
    position: absolute;
	transition:  .5s ease;
}
 

 
input[type="checkbox"]:checked + label:before {
    border: 1px solid transparent;
    background-color: transparent;
}
 
input[type="checkbox"]:checked + label:after {
    content: '\1F5A4';
    font-size: 18px;
    position: absolute;
    top: -1px;
    left: 1px;
	color: gold;
	transition:  .5s ease;
}
.a-addCarrinho{
    text-decoration: none;
    color: white;
}
.add-saler {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.state-shoe{
    margin-right: 15px;
}
.title-shoe{
    color: #B63E52;
}
.txt-shoe{
    font-size: 1.2rem;
}
.shoe-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
.inline-div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users{
    margin: 15px;
}